extends layout.pug

block content 
  nav.grid-container
    .grid-x.grid-margin-x
      a.cell.small-4(href='/') < Home
  main.grid-container.portfolio-intro.portfolio-project
    .grid-x.grid-margin-x
      .cell.small-11.medium-8.large-9

        h1 Agata Zurek

        p.lead.text-light
          | Web Developer and Junior Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I'm a full stack JavaScript developer making fast and reliable websites for small businesses and individuals. Previously working as a GIS specialist, I taught myself how to program to solve workflow inefficiencies and discovered I had a passion for coding. I've continued my coding education at Team Treehouse, first by completing the Front End Developer Track and then completing the Full Stack JavaScript Techdegree. I'm combining all of my knowledge of data management, effective communication, problem solving and design to make beautiful and functional sites. 

      .cell.portfolio-meta.small-11.medium-auto
        h6 Skills
        ul
          li JavaScript
          li Node.js
          li HTML
          li CSS
          li Responsive design
          li Express 
          li Pug and ejs templates
          li MongoDB
          li Git
          li SQL
          li React
          li Design basics
          li Technical writing
        
        h6 Contact Info
        ul
          li: address: a(href="mailto:agata.w.zurek@gmail.com") agata.w.zurek@gmail.com

        a.button.expanded(href='https://github.com/azurekca' target="_blank" rel="noreferrer") GitHub
        a.button.expanded(href='https://www.linkedin.com/in/agata-zurek-0a186013a' target="_blank" rel="noreferrer") LinkedIn
  nav.grid-container
    a(href='/') < Home
  