extends layout.pug

block content 
  nav.grid-container
    .grid-x.grid-margin-x
      a.cell.small-4(href='/') < Home
  main.grid-container.portfolio-intro.portfolio-project
    .grid-x.grid-margin-x
      .cell.small-11.medium-8.large-9

        h1 Agata Zurek

        p.lead.text-light
          | Full Stack JavaScript developer with a love for design and CSS

        .portfolio-bio
          p
            | My current position is as a Software Developer at SMRT1 Technologies where We are building smart vending solutions for retail, health services and tourism. I’m primarily working on front end interfaces using React.
            
            | Previously working as a GIS specialist, I taught myself how to program to solve workflow inefficiencies and discovered I had a passion for coding. I've continued my coding education at Team Treehouse, first by completing the Front End Developer Track and then completing the Full Stack JavaScript Techdegree. I've also recently completed the full Epic React course by Kent C. Dodds and CSS for JS by Josh Comeau. I'm combining all of my knowledge of data management, effective communication, problem solving and design to make beautiful and functional sites. 

      .cell.portfolio-meta.small-11.medium-auto
        h6 Skills
        ul
          li JavaScript
          li Node.js
          li HTML
          li CSS
          li React
          li Jest/Cypress/React Testing Library
          li Express
          li 11ty 
          li Nunjucks, Pug and ejs templates
          li Storybook
          li MongoDB/SQL
          li Git/GitHub/GitLab
          li Responsive design
          li Design basics
          li Technical writing
        
        
  nav.grid-container
    a(href='/') < Home
  