extends layout

block content
  nav.grid-container
    .grid-x.grid-margin-x
      a.cell.small-4.medium-6(href='/') < Home
  main.grid-container.portfolio-intro.portfolio-project
    .grid-x.grid-margin-x
      .cell.small-11.medium-12

        h1 Error #{error.status}
        p.lead.text-light
          | #{error.message}
        h5 Stack Trace
        pre #{error.stack}