<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Agata's Portfolio
    link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet") 
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel="shortcut icon", href="/static/favicon/favicon.ico", type="image/x-icon")
    link(rel="manifest", href="/static/favicon/manifest.json")
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          a.cell.shrink(href='/')
            img.thumbnail(src="/static/images/agata-square.jpg" alt="Agata Zurek")
          .cell.auto

            h5 Agata Zurek

            p.text-light
              | Full Stack JavaScript developer with a love for design and CSS.

            a(href='/about') Learn More About Me >

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- This is for the mobile screen sized version.
          span.title-bar-title Agata Zurek
      block content