:root {
  --color-black: #0e1b1a;
	--color-dark: #162b29;
	--color-med-dark: #216a61;
	--color-med: #f8bd98;
	--color-bright: #fbda57;
	--color-light: #ffe8e2;
}

body {
  background-color: var(--color-light);
  font-family: 'Open Sans','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h6 {
	font-family: 'Abril Fatface', serif;
	color: var(--color-dark);
}

h1 {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, var(--color-bright) 50%);
	padding-left: 0.5em;
}

h5 {
	font-family: 'Open Sans','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 2.5px;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
}

h6 {
  letter-spacing: 2.5px;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
	font-weight: 600;
}

p {
  font-family: 'Open Sans','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #666;
}

.round {
	border-radius: 5px;
}

.text-light {
	color: #666;
}

.button {
	color: var(--color-med-dark);
	background-color: var(--color-med);
}

.button:hover {
	background-color: var(--color-dark);
}

.button:focus {
	color: var(--color-med-dark);
	background-color: var(--color-bright);
}

nav.grid-container {
	margin: 0;
  padding: 10px 40px 0;
  max-width: 1200px;
}

nav a {
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 2.5px;
	-webkit-text-transform: uppercase;
  text-transform: uppercase;
  line-height: 1.5;
}

a {
  color: var(--color-dark);
}

a.cell {
  padding-top: 4px;
}

a:hover {
	color: var(--color-med);
}

.image {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 1rem;
	border: solid 4px #fefefe;
	border-radius: 0;
	box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
	line-height: 0;
}

.portfolio-me {
	padding: 20px;
	background: var(--color-dark);
	color: var(--color-light);
	box-shadow: none !important;
}

.portfolio-me p {
	font-size: 14px;
	color: var(--color-light);
}

.portfolio-me a {
	font-family: Arial, sans-serif;
	font-weight: 600;
	color: var(--color-bright);
	font-size: 13px;
	letter-spacing: 2.5px;
	-webkit-text-transform: uppercase;
	text-transform: uppercase;
}

.portfolio-me a:hover {
	color: var(--color-med);
}

.portfolio-intro {
	margin: 0;
	padding: 40px 50px 30px;
}

.portfolio-intro p {
	border-bottom: 1px solid var(--color-dark);
	padding-bottom: 10px;
}

.portfolio-index {
	margin: 0;
	padding: 10px 50px;
}

.portfolio-index .thumbnail {
  margin-bottom: 5px;
	border: solid 4px #fefefe;
	box-shadow: 0 0 0 1px var(--color-med-dark);
}


.portfolio-index .thumbnail.empty {
  background-color: var(--color-bright);
  content: ' ';
	width: 550px;
  height: 100px;
  border: none;
  box-shadow: none;
  outline: none;
}

.portfolio-index .cell {
	margin-bottom: 15px;
}

.portfolio-index .cell h3 {
	letter-spacing: 1px;
	text-align: left;
	font-size: 1.7rem;
	padding-left: 1rem;
}

.portfolio-meta.cell {
  margin-left: auto;
}

.portfolio-meta .button {
	margin-bottom: 5px;
}

.portfolio-project p {
	border: none;
}

.portfolio-project li {
	font-size: 18px;
	font-variant: small-caps;
  color: #444;
  list-style: none;
}

.portfolio-project li::before {
  content: '-  ';
}

.portfolio-bio {
	line-height: 25px;
}

.title-bar {
	background-color: var(--color-dark);
}

.title-bar-title {
  color: var(--color-light);
  padding-left: 1rem;
  font-size: 1.3rem;;
}

/* hamburger colours */
.menu-icon::after {
	background: var(--color-bright);
	box-shadow: 0 7px 0 var(--color-bright), 0 14px 0 var(--color-bright);
}

.menu-icon:hover::after {
	background: var(--color-med-dark);
	box-shadow: 0 7px 0 var(--color-med-dark), 0 14px 0 var(--color-med-dark);
}

/* CSS for devices from https://www.w3schools.com/howto/howto_css_devices.asp  */

/* The laptop with borders */
div.laptop.cell {
  width: 90%;
  position: relative;
  max-width: 1000px;
  height: auto;
  border-radius: 6px;
  border-style: solid;
  border-color: var(--color-black);
  border-width: 2px;
  background-color: var(--color-black);
  padding: 1.5% 1% 1%;
  margin: 1.5rem auto 3rem;
}

/* The keyboard of the laptop */
.laptop:after {
  content: '';
  display: block;
  position: absolute;
  width: 115%;
  height: 5%;
  margin: 1.4% 0 0 -8.5%;
  background: var(--color-black);
  border-radius: 6%;
}

/* The notch in the front of the keyboard */
.laptop:before {
  content: '';
  display: block;
  position: absolute;
  width: 25%;
  height: 2.5%;
  bottom: -3%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: var(--color-med);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

/* The screen (or content) of the device */
.laptop .content {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: none;
}

.tablet {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 1.2rem auto;
  border: 16px var(--color-black) solid;
  border-top-width: 50px;
  border-bottom-width: 50px;
  border-radius: 26px;
}

/* The circle on the top of the device */
.tablet:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The circle on the bottom of the device */
.tablet:after {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%, -50%);
  background: #333;
  border: 1px solid #ffe8e2;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.tablet .content {
  width: 100%;
  height: auto;
  background: transparent;
}

/* Phone body*/
.phone {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin:  auto;
  border: 6px var(--color-black) solid;
  border-top-width: 20px;
  border-bottom-width: 15px;
  border-radius: 23px;
}

/* The horizontal line on the top of the device */
.phone:before {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The screen (or content) of the device */
.phone .content {
  width: 100%;
  height: auto;
  background: transparent;
  border-radius: 4px;
}

@media (min-width: 640px) {
  div.laptop.cell {
  width: 80%;
}
}
@media (min-width: 1024px) {
  div.laptop.cell {
  width: 70%;
}
}